* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  margin: 50px auto;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

#skill {
  width: 100%;
  background-color: #e3e3e3;
  padding: 30px;
  display: block;
  border-radius: 5px;
  margin: auto;
}

h2{
  margin: 20px;
  margin-bottom: 0;
  text-align: center;
  font-weight: 700;
  font-family: '03';
}